version: "3"
services:
  meshery-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    image: layer5/kanvas-docker-extension:stable-latest
    ports:
      - "7877:7877"
  meshery:
    image: layer5/meshery:kanvas-latest
    pull_policy: always
    environment:
      - "PROVIDER_BASE_URLS=https://cloud.layer5.io"
      - "EVENT=mesheryLocal"
      - "KUBECONFIG_FOLDER=/home/appuser/.kube"
      - "PORT=9081"
      - PROVIDER=Layer5
    volumes:
      - $HOME/.kube:/home/appuser/.kube:ro
      - $HOME/.minikube:$HOME/.minikube:ro
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9081:9081"
